<!-- card -->
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ cani[0].nome }}</mat-card-title>
    <!-- posso usare il ternary -->
    <mat-card-subtitle>{{
      2 > 6 ? "querty" : cani[0].razza
    }}</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <p>{{ cani[0].descrizione }}</p>
  </mat-card-content>
  <mat-card-actions>
    <!-- esempio di event binding -->
    <button mat-button (click)="like()">LIKE</button>
    <button mat-button (click)="share()">SHARE</button>
  </mat-card-actions>
</mat-card>

<!-- input -->
<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" (input)="input($event)" />
</mat-form-field>

<!-- bottoni -->
<section>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button [disabled]="isDisable">property binding</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
